.wrapper {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    background: #232946;
    grid-gap: 15px;
    padding: 15px;
}