body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  display: flex;
}
.workspace {
  width: 80%;
}
.tools {
  display: flex;
  flex-direction: column;
  width: 20%;
  box-sizing: border-box;
  padding: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 100vh;
  position: sticky;
  top: 0;
}
.tools > * {
  text-align: center;
  width: 100%;
  padding: 0;
  margin: 5px auto;
}
.tools > button {
  background-color: #cecece;
  padding: 10px;
}
